.loader-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.vsbl {
  display: block;
}
.nt-vsbl {
  display: none;
}
#loader_bar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -6px;
  width: 1%;
  height: 6px;
  background-color: rgb(15, 111, 162);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-animation: half_increase 200ms;
  -webkit-animation: half_increase 200ms;
  animation: half_increase 200ms;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#progress b,
#progress i {
  position: absolute;
  top: 0;
  height: 3px;
  -moz-box-shadow: #777777 1px 0 6px 1px;
  -ms-box-shadow: #777777 1px 0 6px 1px;
  -webkit-box-shadow: #777777 1px 0 6px 1px;
  box-shadow: #777777 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
#progress b {
  clip: rect(-6px, 22px, 14px, 10px);
  opacity: 0.6;
  width: 20px;
  right: 0;
}
#progress i {
  clip: rect(-6px, 90px, 14px, -6px);
  opacity: 0.6;
  width: 180px;
  right: -80px;
}

@keyframes half_increase {
  from {
    width: 1%;
  }
  to {
    width: 90%;
  }
}
